.nav {
    height: 80px;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 1;
}

.nav_content {
    justify-content: space-between;
    display: flex;
}

.logo {
    height:100px;
    margin-left: 20px;
}
.profile {
    height: 40px;
    border: none;
    font-size: 15px;
    border-radius: 2px;
    position: relative;
    top: 20px;
    right: 10px;
    cursor: pointer;
}